Backend/node_modules
Backend/package.json
Backend/package-lock.json
Frontend/node_modules
Frontend/pnp
Frontend/pnp.js
Frontend/coverage
Frontend/build
Frontend/DS_Store
Frontend/env.local
Frontend/env.development.local
Frontend/env.test.local
Frontend/env.production.local
Frontend/vscode
Frontend/idea
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/.eslintcache
db
